@model VehicleSaleModel
@{
    Layout = "_Layout";
}
<div>
    <div>
        <div asp-validation-summary="All"></div>
        <div>
            <label>Vehicle Discription:</label>
            <input value="@ViewBag.VD.ToString()" readonly>
        </div>
        <div>
            <label>Final Price:</label>
            <input value="@ViewBag.VS.ToString("C2")" readonly>
        </div>
        
    </div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
